<div class="wrapper fade-in-down none-select">
  <div id="form-content">
    <h2 class="active"> Iniciar Sesion </h2>

    <div class="fade-in first avatar">
      <img src="https://image.flaticon.com/icons/svg/172/172163.svg" alt="User Icon" />
    </div>

    <form>
      <input type="text" class="fade-in second" placeholder="Usuario">
      <input type="text" class="fade-in third" placeholder="Contraseña">
      <input type="button" class="fade-in fourth cursor-pointer" value="Aceptar"  [routerLink]="['/']" >
    </form>

    <div id="form-footer">
      <a class="underline-hover cursor-pointer">Olvido su contraseña?</a>
    </div>
  </div>
</div>
